:root {
  font-size: 16px;
  --cor-cinza: #f1f1f1;
  --radius: 6px;
  --familia-fonte: 'IBM Plex Sans', monospace;
}

*, *:after, *:before { margin: 0; padding: 0; box-sizing: border-box; }

#news { background: #ff546b; }
#check { background: #606f7b; }
#tech { background: #5475ff; }
#biz { background: #00bd77; }
.yellow { background: #ffa04f; }
.purple { background: #9f5bf6; }
.aqua { background: #00b7ca; }
.pink { background: #f357a8; }
.orange { background: #ff7157; }
.black { background: #34495e; }

.svg { fill: #000; }

html {
  scroll-behavior: smooth;
}
html, body, main, .PageLayout {
  position: relative;
  height: 100%;
}
body {
  display: block;
  text-align: center;
  font-family: var(--familia-fonte);
  font-size: 0;
  background: #fff;
}

header {
  position: fixed;
  width: 100%;
  padding: 0 1rem;
  background: transparent;
  z-index: 999;
}
header .button{
  float: revert;
}

#logo {
  float: left;
  padding: .75rem;
  line-height: 0;
  z-index: 4;
}
#logo svg {
  fill: #fff;
}
#logo, #menu {
  position: relative;
  width: 48px;
  height: 48px;
  font-size: 0;
  background: rgba(255, 255, 255, 0.1);
  border-bottom-right-radius: .5rem;
  border-bottom-left-radius: .5rem;
}
#menu {
  float: right;
  z-index: 9;
  outline: none;
  padding-left: .75rem;
}
.hamburger {
  position: relative;
  width: 24px;
  height: 3px;
  background: #fff;
  transition: all .25s;
  border-radius: 1rem;
}
.hamburger:before, .hamburger:after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 24px;
  height: 3px;
  background: #fff;
  z-index: 1;
  transition: all .25s;
  border-radius: 1rem;
}
.hamburger:before {
  top: -7px;
  width: 18px;
}
.hamburger:after {
  top: 7px;
  width: 12px;
}
#menu:hover .hamburger:before,
#menu:hover .hamburger:after {
  width: 24px;
}
#menu.open .hamburger {
  transform: rotate(45deg);
  background: #000;
}
#menu.open .hamburger:before,
#menu.open .hamburger:after {
  top: 0;
  width: 24px;
  transform: rotate(90deg);
  background: #000;
}
nav.open #logo svg {
  fill: #000;
}

.layer {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  transition: box-shadow .25s cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 2;
 }
.layer-active {
  box-shadow: 0 0 0 100vw #fff, 0 0 0 100vh #fff;
}

nav {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  background: #fff;
  /* transition: visibility .25s, opacity .25s; */
}
nav.open {
  visibility: visible;
  opacity: 1;
}
nav ul {
  list-style: none;
  margin: 10vh;
  padding: 0;
  display: grid;
  height: 60vh;
  align-items: center;
  grid-template-columns: 1fr;
}
nav li {
  text-align: center;
  padding: 0;
}
nav a {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: #aaa;
}

section {
  width: 100%;
  padding: 5rem 1rem;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
.fullscreen {
  display: table;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}
.fullscreen-container {
  display: table-cell;
  vertical-align: middle;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
a, button, .svg {
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s;
}

p, li, h1, h2, h3, h4, h5, h6 {
  color: #000;
  padding-bottom: 2rem;
}
p, ul {
  padding-bottom: 1.5rem;
}
ul {
  margin-left: 1.2rem;
}
p, li {
  font-weight: 400;
  line-height: 1.7;
}
li {
  padding: 0 0 .5rem .5rem;
}
h1, h2, h3, h4, a, b, strong, .button, button, input, select {
  font-family: var(--familia-fonte);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}
h2, article h1 {
  font-size: 2rem;
}
h3, article h2 {
  font-size: 1.4rem;
}
h4, article h3 {
  font-size: 1.25rem;
}

p, li, .button {
  font-size: 1rem;
}

a:hover, a:focus {
  color: #000;
}

/* Articles */
article {
  position: relative;
  margin: 5.75rem auto 2rem;
  max-width: 650px;
}
article h2, article h3 {
  padding: 3rem 0 1.5rem 0;
}
article ol {
  list-style-type: decimal;
  padding: 1rem 2rem;
}
article ul {
  list-style-type: disc;
  padding: 0 0 28px 28px;
}
article li {
  padding: .5rem 0;
}
article blockquote {
  width: auto;
  float: none;
  display: block;
  border-left: 3px solid #000;
  padding: 1rem;
  margin: 0 auto 2rem;
  color: #666;
  font-style: italic;
}

/* Buttons */
.button {
  position: relative;
  float: left;
  margin: 1rem 0 0;
  padding: 0 1.5rem;
  line-height: 44px;
  color: #fff;
  background: #000;
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}
.button:hover, .button:focus {
  background: #fff;
  color: #000;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.05);
}

/* Helpers */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.page {
  margin-top: 2rem;
}
.page h1 {
  max-width: 780px;
}
.page p {
  max-width: 680px;
}

.grid {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

/* Footer */
footer {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 1.5rem 2rem;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li, footer p, footer label {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  padding: 0 0 1rem;
}
footer a, footer p, footer label {
  color: #aaa;
}
footer li {
  padding: .75rem;
}
footer svg {
  width: 34px;
  fill: #aaa;
  margin: 0 0 1rem;
}
footer a .svg {
  fill: #aaa;
}
footer a:hover .svg, footer a:focus .svg {
  fill: #000;
}

select {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  padding: .3rem .5rem;
  margin: 0 .5rem;
  border-radius: 6px;
  border: 2px solid #000;
  color: #000;
  opacity: .35;
}
select:hover, select:focus {
  opacity: 1;
}

form {
  margin: .5rem 0 1rem;
}
/* Animations */
section .container {
  -webkit-animation-name: up;
  animation-name: up;
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 1;
  }
}
@keyframes up {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 1;
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes down {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.feedSection {
  position: relative;
  display: inline-block;
}
.feedSection h2 {
  position: absolute;
  right: 0;
  left: 0;
  top: -5rem;
  color: rgba(255, 255, 255, .1);
  font-size: 7vw;
  padding: 1.5rem 0;
}

/* tablet */
@media only screen and (min-width: 812px) {

  .layer {
    top: 2rem;
    right: 4.25rem;
  }

  nav ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
  nav a {
    padding: 2rem;
    font-size: 3.5vw;
  }

  h1 {
    font-size: 3.5rem;
  }
  h2, article h1 {
    font-size: 2.5rem;
  }
  h3, h4 {
    font-size: 1.5rem;
  }
  p, li, .button, input, textarea {
    font-size: 1rem;
  }
  header {
    padding: 0 2.25rem;
  }
  #logo, #menu {
    width: 64px;
    height: 64px;
    padding: 1.25rem;
  }
  section {
    padding: 5rem 7.75rem;
  }
  .col {
    display: flex;
  }
  .col-left {
    width: 45%;
    margin-right: 10%;
  }
  .col-right {
    width: 45%;
  }

  footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .feedSection h2 {
    right: -1rem;
    top: unset;
    left: unset;
    font-size: 4vw;
    padding: 3rem 0 0;
  }
}
/* desktop */
@media only screen and (min-width: 1200px) {

  body {
    background: #fff;
  }
}