:root {
  font-size: 16px;
  --radius: 8px;
  --shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 7%), 0 0.3px 0.9px 0 rgb(0 0 0 / 5%);
  --font: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', monospace;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #888888;
  --color-grey: #606f7b;
  --color-translucent: rgba(255, 255, 255, 0.1);
  --color-yellow: #ffa04f;
  --color-orange: #ff7157;
  --color-red: #ff4760;
  --color-pink: #f357a8;
  --color-purple: #9f5bf6;
  --color-blue: #5475ff;
  --color-cyan: #00b7ca;
  --color-green: #00b874;
  --opacity: 0.45;
  --navDrawerDurationEnterMS: 250ms;
  --easingDecelerate: cubic-bezier(0, 0, 0.2, 1);
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#news {
  background: var(--color-red);
}
#tech {
  background: var(--color-blue);
}
#biz {
  background: var(--color-green);
}
#sport {
  background: var(--color-yellow);
}
#cult {
  background: var(--color-purple);
}
#geek {
  background: var(--color-pink);
}
#sci {
  background: var(--color-cyan);
}
#check {
  background: var(--color-grey);
}
#dscvr {
  background: var(--color-orange);
}

svg,
.svg {
  fill: var(--color-black);
}

html {
  scroll-behavior: smooth;
}
html,
body,
main,
.PageLayout {
  position: relative;
  height: 100%;
}
body {
  display: block;
  text-align: center;
  font-family: var(--font);
  font-size: 0;
  background: #fff;
}

header {
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 999;
}

#logo {
  float: left;
  padding: 0.75rem;
  line-height: 0;
}
#logo svg {
  fill: #fff;
}
#logo,
#menu {
  position: relative;
  width: 48px;
  height: 48px;
  font-size: 0;
  background: var(--color-translucent);
  box-shadow: var(--shadow);
  border-radius: 10rem;
}
#menu:hover,
#logo:hover {
  background: rgba(255, 255, 255, 0.15);
}

#menu {
  float: right;
  z-index: 9;
  padding-left: 0.75rem;
}
.hamburger {
  position: relative;
  width: 24px;
  height: 3px;
  background: #fff;
  transition: all 0.25s;
  border-radius: 1rem;
}
.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 24px;
  height: 3px;
  background: #fff;
  z-index: 1;
  transition: all 0.25s;
  border-radius: 1rem;
}
.hamburger:before {
  top: -7px;
  width: 18px;
}
.hamburger:after {
  top: 7px;
  width: 12px;
}
#menu:hover .hamburger:before,
#menu:hover .hamburger:after {
  width: 24px;
}
#menu.open .hamburger {
  transform: rotate(45deg);
  background: #000;
}
#menu.open .hamburger:before,
#menu.open .hamburger:after {
  top: 0;
  width: 24px;
  transform: rotate(90deg);
  background: #000;
}
#menu.open {
  box-shadow: none;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all;
  z-index: 2;
  background: transparent;
  display: none;
  transition: var(--easingDecelerate);
}
.layer-active {
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
}

header nav {
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  background: var(--color-white);
  transition: all var(--navDrawerDurationEnterMS) var(--easingDecelerate);
  transform: translateX(50%);
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
header nav.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
header nav ul {
  position: relative;
  width: 100%;
  list-style: none;
  margin: 5rem 0 0;
  padding: 0;
}
header nav ul li {
  padding: 0;
}
header nav a {
  display: inline-block;
  padding: 0.25rem 4rem;
  width: 100%;
  font-size: 5vw;
}
header nav a:hover,
header nav a:focus {
  background: #eee;
}

header nav .button {
  position: relative;
  float: none;
  width: auto;
  margin: 2.5rem 0 0;
  line-height: 0;
  padding: 1.5rem;
  font-size: 1.25rem;
  color: var(--color-white);
  background: var(--color-black);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}
header nav .button:hover,
header nav .button:focus {
  background: var(--color-white);
  color: var(--color-black);
  box-shadow: var(--shadow);
}

section {
  width: 100%;
  padding: 5rem 1rem;
  overflow: hidden;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
.fullscreen {
  display: table;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}
.fullscreen-container {
  display: table-cell;
  vertical-align: middle;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-black);
  font-weight: bold;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
a,
button,
.svg {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

p,
li,
h1,
h2,
h3 {
  color: #000;
  padding-bottom: 2rem;
}
p,
ul {
  padding-bottom: 1.5rem;
}
ul {
  margin-left: 1.2rem;
}
p,
li {
  font-weight: 400;
  line-height: 1.7;
}
li {
  padding: 0 0 0.5rem 0.5rem;
}
h1,
h2,
h3,
h4,
a,
b,
strong,
button,
input,
select {
  font-family: var(--font);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}
h2,
article h1 {
  font-size: 2rem;
}
h3,
article h2 {
  font-size: 1.4rem;
}
h4,
article h3 {
  font-size: 1.25rem;
}

p,
li {
  font-size: 1rem;
}

a:hover,
a:focus {
  color: #000;
}

/* Articles */
article {
  position: relative;
  margin: 5.75rem auto 2rem;
  max-width: 650px;
}
article h2,
article h3 {
  padding: 3rem 0 1.5rem 0;
}
article ol {
  list-style-type: decimal;
  padding: 1rem 2rem;
}
article ul {
  list-style-type: disc;
  padding: 0 0 28px 28px;
}
article li {
  padding: 0.5rem 0;
}
article blockquote {
  width: auto;
  float: none;
  display: block;
  border-left: 3px solid #000;
  padding: 1rem;
  margin: 0 auto 2rem;
  color: #666;
  font-style: italic;
}

/* Helpers */
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.page {
  margin-top: 2rem;
}
.page h1 {
  max-width: 780px;
}
.page p {
  max-width: 680px;
}

.grid {
  width: 100%;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1rem;
}

/* Footer */
footer {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1.5rem 2rem;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer li,
footer p,
footer label {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  padding: 1rem 0;
}
footer a,
footer p,
footer label {
  color: var(--color-gray);
}
footer li {
  padding: 0.5rem 0.75rem;
}
footer a svg {
  width: 38px;
  margin: 0 auto;
  display: block;
}
footer a .svg {
  fill: var(--color-gray);
}

footer select {
  opacity: var(--opacity);
}

footer a:hover,
footer a:focus {
  color: var(--color-black);
}
footer a:hover .svg,
footer a:focus .svg {
  fill: var(--color-black);
}
footer select:hover,
footer select:focus {
  opacity: 1;
}

select {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.3rem 0.5rem;
  margin: 0 0.5rem;
  border-radius: var(--radius);
  border: 2.5px solid var(--color-black);
  color: var(--color-black);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: 96% 58%;
  padding-right: 2rem;
}

/* Animations */
section .container {
  -webkit-animation-name: up;
  animation-name: up;
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
}

@-webkit-keyframes up {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 1;
  }
}
@keyframes up {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
    opacity: 1;
  }
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes down {
  0% {
    -webkit-transform: translateY(1rem);
    transform: translateY(-1rem);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.feedSection {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.feedSection h2 {
  position: absolute;
  right: 0;
  left: 0;
  top: -6rem;
  color: rgb(255 255 255 / 5%);
  font-size: 12vw;
  letter-spacing: -1vw;
  text-transform: uppercase;
  user-select: none;
  z-index: -1;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p,
  li,
  input,
  textarea {
    font-size: 1rem;
  }
  header {
    padding: 1.5rem;
  }
  header nav {
    width: 500px;
  }
  header nav a {
    font-size: 2.5vw;
  }
  #logo,
  #menu {
    width: 4rem;
    height: 4rem;
    padding: 1.25rem;
  }

  .feedSection h2 {
    right: -12vw;
    top: -12vw;
    left: unset;
    font-size: 16vw;
  }

  section {
    padding: 5rem 5.5rem;
  }

  footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1280px) {
  header nav a {
    font-size: 1.75vw;
  }
}
