/* reset */
*, *::after, *::before { margin: 0; padding: 0; }
:root { font-size: 10px; }

/* pace.js */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive {
  display: none;
}
.pace .pace-progress {
  background: #000;
  position: fixed;
  z-index: 20;
  top: 0;
  right: 100%;
  width: 100%;
  height: 3px;
}

body {
	margin: 7rem 0 0;
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
	background: #fff;
}
header {
	position: fixed;
	top: 0;
	height: 7rem;
	width: 100%;
	margin: 0;
	padding: 0;
	background: #fff;
	z-index: 10;
}
header button {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 70px;
	font-size: 0;
	border: none;
	cursor: pointer;
	outline: none;
	color: transparent;
	background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
	transition: all 0.25s ease-in-out;
	opacity: 0.28;
}
header button:hover {
	opacity: 1;
	background-color: rgba(255, 255, 255, 0.2);
}
#menu-button { 
	float: left;
	background-image: url('../images/menu.svg');
}
#share-button { 
	float: right;
	background-image: url('../images/share.svg');
}
header h1 {
	color: #bbb;
    padding: 2.05rem 0 0;
    float: none;
    display: inline-block;
}

/* headroom.js */
#header {
  display: block;
}

/* headroom.js animated scroll */
.slide{
  -webkit-transition:all .3s ease-in-out;
  -moz-transition:all .3s ease-in-out;
  -o-transition:all .3s ease-in-out;
  transition:all .3s ease-in-out;
}

/*.slide--reset{
  -webkit-transform:translateY(0);
  -ms-transform:translateY(0);
  transform:translateY(0);
}*/

.slide--up{
  -webkit-transform:translateY(-100%);
  -ms-transform:translateY(-100%);
  transform:translateY(-100%);
}

.animated{
  -webkit-animation-duration:.3s;
  -moz-animation-duration:.3s;
  -o-animation-duration:.3s;
  animation-duration:.3s;
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
}

@-webkit-keyframes slideDown{
  0%{ -webkit-transform:translateY(-100%)}
  100%{-webkit-transform:translateY(0)}
}
@-moz-keyframes slideDown{
  0%{-moz-transform:translateY(-100%)}
  100%{-moz-transform:translateY(0)}
}
@-o-keyframes slideDown{
  0%{-o-transform:translateY(-100%)}
  100%{-o-transform:translateY(0)}
}
@keyframes slideDown{
  0%{transform:translateY(-100%)}
  100%{transform:translateY(0)}
}

.animated.slideDown{
  -webkit-animation-name:slideDown;
  -moz-animation-name:slideDown;
  -o-animation-name:slideDown;
  animation-name:slideDown;
}
@-webkit-keyframes slideUp{
  0%{-webkit-transform:translateY(0)}
  100%{-webkit-transform:translateY(-100%)}
}

@-moz-keyframes slideUp{
  0%{-moz-transform:translateY(0)}
  100%{-moz-transform:translateY(-100%)}
}

@-o-keyframes slideUp{
  0%{-o-transform:translateY(0)}
  100%{-o-transform:translateY(-100%)}
}
@keyframes slideUp{
  0%{transform:translateY(0)}
  100%{transform:translateY(-100%)}
}

.animated.slideUp{
  -webkit-animation-name:slideUp;
  -moz-animation-name:slideUp;
  -o-animation-name:slideUp;
  animation-name:slideUp;
}

@-webkit-keyframes swingInX{
  0%{-webkit-transform:perspective(400px) rotateX(-90deg)}
  100%{-webkit-transform:perspective(400px) rotateX(0deg)}
}
@-moz-keyframes swingInX{
  0%{-moz-transform:perspective(400px) rotateX(-90deg)}
  100%{-moz-transform:perspective(400px) rotateX(0deg)}
}
@-o-keyframes swingInX{
  0%{-o-transform:perspective(400px) rotateX(-90deg)}
  100%{-o-transform:perspective(400px) rotateX(0deg)}
}
@keyframes swingInX{
  0%{transform:perspective(400px) rotateX(-90deg)}
  100%{transform:perspective(400px) rotateX(0deg)}
}

a {
	text-decoration: none;
	color: #fff;
	transition: all .25s;
}
a:hover, a:focus {
	color: #000;
}

section {
    position: relative;
    margin: 0 7rem;
    display: inline-block;
}
.container {
	padding: 7rem;
}

/* #news { background: #ff304d; }
#tech { background: #375cfa; }
#sports { background: #ffa502; }
#finance { background: #1ece5d; }
#culture { background: #8729ff;  }
#science { background: #15c8bf; }
#games { background: #ff0084; }
#discover { background: #ff6348; } */

#news { background: #ff455f; }
#tech { background: #5475ff; }
#sports { background: #ffba3d; }
#finance { background: #35d16c; }
#culture { background: #9f5bf6; }
#science { background: #39c6bf; }
#games { background: #ff3ca1; }
#discover { background: #ff7157; }

.nav-section h2 {
    position: absolute;
    right: 0;
    color: rgba(255, 255, 255, 0.2);
    font-size: 5vw;
    font-weight: 700;
    padding: 4.8rem;
    text-transform: uppercase;
}

/* Feed Cards */
.feed {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
}
.feed ul {
    float: left;
    height: auto;
    width: 100%;
    max-width: 31.333%;
    margin: 1%;
	padding: 6.4rem 4.8rem 4.8rem;
	text-align: left;
	list-style: none;
    background-position: 4.8rem 3.2rem;
	background-size: auto 4.5rem;
	background-repeat: no-repeat;
	background-color: rgba(255, 255, 255, .05);
	box-sizing: border-box;
	transition: all .25s;
}
.feed ul h3 {
	display: none;
	font-size: 0;
	color: transparent;
}
.feed ul li {
	margin: 3rem 0 0;
	font-weight: 700;
	font-size: 2vw;
	line-height: 1.2;
}
.feed ul li:nth-child(3) {
	font-size: 1.5vw;
	opacity: 0.5;
}

/* Featured - Top */
.feed ul:first-child { 
	max-width: 98%;
	margin: 1% 1% 5%;
	padding: 10rem 12rem;
	text-align: center;
	background-position: center 6.5rem;
    background-color: transparent;
	border-top: 2rem solid #fff;
	border-left: 2rem solid #fff;
	border-right: 2rem solid #fff;
    border-radius: 0;
}
.feed ul:first-child li {
	margin: 4rem 0 0;
}
.feed ul:first-child li:nth-child(2) {
	font-size: 5.25vw;
}
.feed ul:first-child li:nth-child(3) {
	font-size: 2.25vw;
}

/* Featured - Duo */
.feed ul:nth-child(2), .feed ul:nth-child(3),
.feed ul:nth-child(7), .feed ul:nth-child(8),
.feed ul:nth-child(12), .feed ul:nth-child(13) {
	max-width: 48%;
}
.feed ul:nth-child(2) li:nth-child(2),
.feed ul:nth-child(3) li:nth-child(2),
.feed ul:nth-child(7) li:nth-child(2),
.feed ul:nth-child(8) li:nth-child(2),
.feed ul:nth-child(12) li:nth-child(2),
.feed ul:nth-child(13) li:nth-child(2) {
	font-size: 2.5vw;
}

/* Share Box */
#share h3 {
	font-size: 3rem;
	color: #000;
	text-align: center;
	padding: 2rem 0;
}
#share a {
	float: none;
	display: inline-block;
	width: auto;
	height: auto;
	padding: 2.2rem 7rem 2.2rem 11rem;
	color: #fff;
	font-size: 2rem;
	font-weight: 400;
	background-color: #000;
	background-repeat: no-repeat;
	background-size: 32px;
	background-position: 6rem 50%;
	margin: 1rem;
	outline: none;
	text-align: left;
}
#share a.facebook:hover { background-color: #345caf; }
#share a.twitter:hover { background-color: #1ea1f2; }
#share a.pinterest:hover { background-color: #bd081c; }

/* Logos */
#nyt { background-image: url(../images/logos/new-york-times.svg); }
#guardian { background-image: url(../images/logos/the-guardian.svg); }
#bbc, #bbcsport { background-image: url(../images/logos/bbc.svg); }
#huffpost { background-image: url(../images/logos/huffpost.svg); }
#reuters { background-image: url(../images/logos/reuters.svg); }
#cnn { background-image: url(../images/logos/cnn.svg); }
#intercept { background-image: url(../images/logos/intercept.svg); }
#washingtonpost { background-image: url(../images/logos/washington-post.svg); }
#usatoday { background-image: url(../images/logos/usa-today.svg); }
#vox { background-image: url(../images/logos/vox.svg); }
#aljazeera { background-image: url(../images/logos/aljazeera.svg); }
#rt { background-image: url(../images/logos/rt.svg); }
#nation { background-image: url(../images/logos/the-nation.svg); }
#time { background-image: url(../images/logos/time.svg); }
#slate { background-image: url(../images/logos/slate.svg); }
#newsweek { background-image: url(../images/logos/newsweek.svg); }

#verge { background-image: url(../images/logos/the-verge.svg); }
#mashable { background-image: url(../images/logos/mashable.svg); }
#techcrunch { background-image: url(../images/logos/techcrunch.svg); }
#tnw { background-image: url(../images/logos/tnw.svg); }
#gizmodo { background-image: url(../images/logos/gizmodo.svg); }
#wired { background-image: url(../images/logos/wired.svg); }
#cnet { background-image: url(../images/logos/cnet.svg); }
#engadget { background-image: url(../images/logos/engadget.svg); }
#arstechnica { background-image: url(../images/logos/arstechnica.svg); }
#zdnet { background-image: url(../images/logos/zdnet.svg); }
#digitaltrends { background-image: url(../images/logos/digitaltrends.svg); }

#espn { background-image: url(../images/logos/espn.svg); }
#deadspin { background-image: url(../images/logos/deadspin.svg); }
#sbnation { background-image: url(../images/logos/sbnation.svg); }
#foxsports { background-image: url(../images/logos/foxsports.svg); }
#yahoosports { background-image: url(../images/logos/yahoo.svg); }
#nbc { background-image: url(../images/logos/nbc.svg); }

#businessinsider { background-image: url(../images/logos/businessinsider.svg); }
#bloomberg { background-image: url(../images/logos/bloomberg.svg); }
#ft { background-image: url(../images/logos/ft.svg); }
#forbes { background-image: url(../images/logos/forbes.svg); }
#wsj { background-image: url(../images/logos/wsj.svg); }
#entrepreneur { background-image: url(../images/logos/entrepreneur.svg); }
#economist { background-image: url(../images/logos/economist.svg); }
#inc { background-image: url(../images/logos/inc.svg); }
#fastcompany { background-image: url(../images/logos/fastcompany.svg); }
#cnbc { background-image: url(../images/logos/cnbc.svg); }
#hbr { background-image: url(../images/logos/harvard-business-review.svg); }

#vice { background-image: url(../images/logos/vice.svg); }
#buzzfeed { background-image: url(../images/logos/buzzfeed.svg); }
#avclub { background-image: url(../images/logos/avclub.svg); }
#mtv { background-image: url(../images/logos/mtv.svg); }
#ew { background-image: url(../images/logos/ew.svg); }
#eonline { background-image: url(../images/logos/eonline.svg); }
#rollingstone { background-image: url(../images/logos/rollingstone.svg); }
#tmz { background-image: url(../images/logos/tmz.svg); }
#tvguide { background-image: url(../images/logos/tvguide.svg); }
#people { background-image: url(../images/logos/people.svg); }
#billboard { background-image: url(../images/logos/billboard.svg); }
#variety { background-image: url(../images/logos/variety.svg); }
#vulture { background-image: url(../images/logos/vulture.svg); }

#popsci { background-image: url(../images/logos/popular-science.svg); }
#vergescience { background-image: url(../images/logos/the-verge.svg); }
#wiredscience { background-image: url(../images/logos/wired.svg); }
#bbcfuture { background-image: url(../images/logos/bbc.svg); }
#natgeo { background-image: url(../images/logos/natgeo.svg); }
#nature { background-image: url(../images/logos/nature.svg); }
#sciencemag { background-image: url(../images/logos/science.svg); }
#discovermag { background-image: url(../images/logos/discover.svg); }
#space { background-image: url(../images/logos/space.svg); }
#newscientist { background-image: url(../images/logos/newscientist.svg); }
#futurity { background-image: url(../images/logos/futurity.svg); }
#scientificamerican { background-image: url(../images/logos/scientificamerican.svg); }
#webmd { background-image: url(../images/logos/webmd.svg); }
#greatist { background-image: url(../images/logos/greatist.svg); }

#polygon { background-image: url(../images/logos/polygon.svg); }
#ign { background-image: url(../images/logos/ign.svg); }
#gamespot { background-image: url(../images/logos/gamespot.svg); }
#kotaku { background-image: url(../images/logos/kotaku.svg); }
#pcgamer { background-image: url(../images/logos/pcgamer.svg); }
#eurogamer { background-image: url(../images/logos/eurogamer.svg); }
#rps { background-image: url(../images/logos/rps.svg); }
#gameinformer { background-image: url(../images/logos/gameinformer.svg); }

.facebook { background-image: url('../images/facebook.svg'); }
.twitter { background-image: url('../images/twitter.svg'); }
.pinterest { background-image: url('../images/pinterest.svg'); }
.github { background-image: url('../images/github.svg'); }

footer {
	padding: 4rem;
}
footer ul {
    list-style-type: none;
}
footer li, footer p {
	float: none;
	display: inline-block;
	font-weight: 500;
	font-size: 1.6rem;
	margin: 0 1rem;
}
footer p {
	margin-bottom: 1.25rem;
}
footer a, footer p {
	color: #bbb;
}

/* Media Queries */
@media screen and (max-width: 980px) { 

	:root { font-size: 5px; }

	body { margin: 56px 0 0; }

	section { margin: 0 auto; }

	header {
		height: 56px;
	}
	header button {
		background-size: 24px;
		width: 56px;
		height: 56px;
		opacity: 1;
	}
	header h1 {
		font-size: 3.5rem;
		padding: 3.5rem 0 0;
		color: #000;
	}
	
	.feed ul, .feat-duo, .feat-big { max-width: 48%; }
	.feat { max-width: 100%; }

	.feat { margin: 4rem 4rem 32px; }
	.feat .entry { padding: 0; }

}

@media screen and (max-width: 580px) {

	.feed ul,
	.feed ul:nth-child(2), .feed ul:nth-child(3),
	.feed ul:nth-child(7), .feed ul:nth-child(8),
	.feed ul:nth-child(12), .feed ul:nth-child(13) { 
		max-width: 98%;
	}

}