/*
  Mobile
*/
.navButton {
  display: block;
  position: fixed;
  z-index: 2;
  bottom: 24px;
  right: 24px;
  height: 56px;
  width: 56px;
  border-radius: 50%;
  background: #fff;
  /* reset button style */
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;

  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}
.navButton span {
  /* central dot */
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #000;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.navButton span::before, .navButton span::after {
  /* bottom and top dots */
  content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  border-radius: inherit;
}
.navButton span::before {
  top: -9px;
}
.navButton span::after {
  bottom: -9px;
}

@media only screen and (min-width: 800px) {
  .navButton { display: none; }
}

/* -------------------------------- 

Vertical navigation

-------------------------------- */
.verticalNav {
  position: fixed;
  z-index: 1;
  right: 24px;
  bottom: 24px;
  width: 90%;
  padding: 10px 0;
  max-width: 200px;
  max-height: 90%;
  text-align: left;
  overflow-y: auto;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  border-radius: 0;
  background-color: #fff;
}
.verticalNav a {
  display: block;
  padding: 1rem 3rem;
  font-size: 4rem;
  color: red;
  font-weight: bold;
/*  border-bottom: 1px solid rgba(58, 44, 65, 0.1);*/
}
.verticalNav a.active {
  color: #000;
}
.verticalNav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-overflow-scrolling: touch;
}
.verticalNav.open + .navButton {
  background-color: transparent;
}
.verticalNav.open + .navButton span {
  background-color: transparent;
}
.verticalNav.open + .navButton span::before, .verticalNav.open + .navButton span::after {
  /* transform dots in 'X' icon */
  height: 2px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}
.verticalNav.open + .navButton span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
}
.verticalNav.open + .navButton span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}

/* Desktop */
@media only screen and (min-width: 800px) {
  .verticalNav {
    right: 0;
    top: 0;
    bottom: auto;
    height: 100%;
    width: 70px;
    padding: 0;
    max-width: none;
    max-height: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: transparent;
    display: table;
  }

  /* .no-touch .verticalNav:hover a, .touch .verticalNav a {
    font-size: 3rem;
  } */

  .verticalNav ul {
    /* vertically align <ul> inside <nav> */
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    list-style-type: none;
  }
  .verticalNav li {
    padding: 0;
  }
  .verticalNav a {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    border-bottom: none;
    color: transparent;
    background: transparent;
    text-align: center;
  }
  .verticalNav a:hover, .verticalNav a.active:hover {
    font-size: 2rem;
    color: #000;
  }
  .verticalNav a.active {
    color: #fff;
  }
  .verticalNav a span {
    position: absolute;
    top: 0;
    right: 50px;
    text-align: right;
    background: transparent;
  }
  .verticalNav a::before {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -2px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .2);
    transition: all 0.25s;
  }

  .verticalNav a.active::before, .no-touch .verticalNav a:hover::before {
    background: #000;
  }

}

/* No JS */
@media only screen and (min-width: 800px) {

  .no-js .navButton {
    display: none;
  }

  .no-js .verticalNav {
    position: static;
    height: auto;
    width: 100%;
    max-width: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .no-js .verticalNav::before {
    display: none;
  }
  .no-js .verticalNav ul::after {
    clear: both;
    content: "";
    display: table;
  }
  .no-js .verticalNav li {
    display: inline-block;
  }
  .no-js .verticalNav a {
    padding: 0 1em;
    margin: 1.5em 1em;
    color: #fff;
  }
  .no-js .verticalNav a.active {
    color: #000;
  }
  .no-js .verticalNav a::after, .no-js .verticalNav a::before {
    display: none;
  }
  .no-js .verticalNav .label {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }

}